@font-face {
  font-family: "Poppins", sans-serif;
  src: url(/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url(/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url(/fonts/Montserrat-Medium.ttf);
}

